.concentrations {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.concentrations > table {
    width : 250px;
    text-align: center;

}
