.vueTelecharger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding-top: 50px;
}

.vueTelecharger > .partOne, .vueTelecharger > .partTwo {
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;

}