
/*
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------  GRAPHIQUE  -----------------------------------------------------
 */


.graphiques {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    min-height: 90vh;
    margin-top: 70px;
}

.graphique {
    min-width: 0;
    min-height: 0;
    max-width: 70%;
    max-height: 85vh;
    display: none;
}


/*
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------  INFORMATIONS  --------------------------------------------------
 */


.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 700px;
    min-height: 500px;
    color: black;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.infos > img {
    width: 250px;
}

.infos > h2, .infos > h4{
    color: var(--orangeBRGM);
}

.infos > * {
    margin: 0;
}

.infos > .bouton {
    border: 5px solid var(--orangeBRGM);
    width: 220px;
    background-color: var(--orangeBRGM);
    box-shadow: none;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.infos > .bouton:hover {
    box-shadow: inset 0 0 0 1px white;
}


/*
------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------  BANDEAU DE PARAMETRES  ----------------------------------------------
 */

.annonce {
    display: none;
}



.settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 300px;
    min-height: 550px;
    background-color: var(--grisBRGM);
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
}


.settings > .entete {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.settings > .entete > h2 {
    margin: 0;
    color: var(--orangeBRGM);
}

.settings > .entete > .bouton {
    font-size: 0.8em;
    color: white;
    background-color: var(--orangeBRGM);
    border: 5px solid var(--orangeBRGM);
    box-shadow: none;
    transition: box-shadow 0.3s ease;
    height: 30px;
    min-height: auto;
    max-height: 20px;
}

.settings > .entete > .bouton:hover {
    box-shadow: inset 0 0 0 1px white;
}

.settings > .entete > .bouton > img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
}

.settings > .details {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 20px;
}

.settings > .details > .wrap {
    width: 100%;
    display: flex;
    flex-direction: column;


}

.settings > .details > .wrap > div, .settings > .details > div:not(.wrap) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}

.settings > .details > .wrap > div > input::file-selector-button {
    border: 5px solid var(--orangeBRGM);
    background-color: var(--orangeBRGM);
    box-shadow: none;
    width: 120px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.settings > .details >  .wrap > div > input::file-selector-button:hover {
    box-shadow: inset 0 0 0 1px white;
}

.settings > .details > .wrap > div > label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}

.settings > .details > .wrap > div > label > select {
    width: 180px;
    height: 30px;
    color: white;
    background-color: var(--orangeBRGM);
    margin-right: 10px;
    margin-left: 15px;
    border-radius: 0;
}


.settings > .details > .wrap > div > label > select > option:hover {
    background-color: var(--grisBRGM);
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 15px;
}

input[type="checkbox"]:checked {
    background-color: var(--orangeBRGM);
}

.settings > .details > .wrap > div > .bouton {
    border: 5px solid transparent;
    box-shadow: 0 0 0 1px white;
    width: 220px;
    margin-bottom: 20px;
}

.settings > .details > .wrap > div > .bouton:hover {
    box-shadow: 0 0 0 1px white, inset 0 0 2px white;
}

.settings > .details > div > .downloadFile {
    display: none;
    border: 5px solid var(--orangeBRGM);
    background-color: var(--orangeBRGM);
    box-shadow: none;
    margin-top: 15px;
}

.settings > .details > div > .downloadFile:hover {
    box-shadow: inset 0 0 0 1px white;
}

.settings > .details > .wrap > div:last-child {
    margin-bottom: 0;
}

.resetZoom {
    display: none;
}


/*
------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------  POPUP  --------------------------------------------------------
 */

.grandPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    background-color: var(--grisBRGM);
    width: 700px;
    min-height: 400px;
    padding: 10px;
    color: white;
    border: 2px solid white;
    text-align: center;
}

.grandPopup > .entete {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.grandPopup > .entete > h2 {
    color: var(--orangeBRGM);
}


.grandPopup > span {
    color: var(--orangeBRGM);
    display: flex;
    align-items: center;
}

.grandPopup > span > input {
    max-width: 150px;
    min-width: auto;
    color: transparent;
    margin-left: 20px;
}

.grandPopup > span > input::file-selector-button {
    border: 5px solid var(--orangeBRGM);
    background-color: var(--orangeBRGM);
    box-shadow: none;
    width: 100%;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 0;
}

.grandPopup > span > input::file-selector-button:hover {
    box-shadow: inset 0 0 0 1px white;
}




/*
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------  RESPONSIVE  ----------------------------------------------------
 */

@media (max-width: 1100px) {

    .graphiques {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start!important;
        align-items: center;
        align-content: center;
    }

    .graphique {
        margin-top: 30px;
        max-width: 90%;
    }

    .infos {
        margin: 0;
    }

    .settings {
        width: 95%;
        min-height: auto;
        /*max-height: 220px;*/
        padding-bottom: 20px;
    }

    .settings > .details {
        width: 98%;
        flex-direction: row;
        justify-content: space-between;
        max-height: 220px;
    }

    .settings > .details > .wrap {
        height: 100%;
        border-right: 2px solid white;
        margin-right: 20px;
        min-width: 100px;
        min-height: 230px;
        padding-right: 15px;
    }

    .settings > .details > .wrap > .dates > label {
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
    }

    .settings > .details > .wrap > .dates > label > select {
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .settings > .details > .wrap > div > input[type="file"] {
        color: transparent;
        width: 150px;
    }

    .settings > .details > .wrap > div > .bouton {
        min-width: auto;
        width: auto;
    }


    .settings > .details > .wrap > div > input::file-selector-button {
        width: 100%;
        margin : 0;
    }


}

@media (max-width: 790px) {

    .graphique {
        display: none!important;
    }

    .settings {
        display: none;
    }

    .infos {
        display: none;
    }

    .annonce {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 98%;
        padding: 15px;
        text-align: center;
    }

    .annonce > img {
        width: 300px;
    }

    .annonce > h2 {
        color: var(--orangeBRGM);
    }

}