/*
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------  GRAPHIQUE  -----------------------------------------------------
 */

body {
    overflow-x: hidden;
}

.graphiques {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%!important;
    min-height: 90vh;
    position: relative;
}

.graphique {
    min-width: 0;
    min-height: 0;
    max-width: calc(99% - 55px);
    max-height: 85vh;
    display: none;
    position: relative;
    padding-left: 70px;
    padding-top: 50px;
}


/*
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------  INFORMATIONS  --------------------------------------------------
 */


.infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: calc(100vh - 80px);
    color: black;
    text-align: center;

    .cotesInfos {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        width: 30%;
        height: 100% !important;

        img {
            width: 95%;
        }

        .bulles {
            background-color: var(--grisBRGM);
            position: absolute;
            text-align: left;
            color: white;
            max-width: 270px;
            padding: 10px;
            font-size: 1em;

            span {
                color: var(--orangeBRGM);
            }
        }

        .bl1 {
            left: 30px;
            top: 120px;
        }

        .bl2 {
            top: 250px;
            right: 40px;
        }
    }

    .mainInfos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        position: relative;
        width: 36%;
        height: 100% !important;
        background-color: #D9D9D9;
        padding-left: 25px;
        padding-right: 25px;


        h3 {
            font-weight: 300;
        }

        p {
            font-size: 0.9em;
            margin: 0;
        }

        .elementCentre {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .dates > label {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                align-content: flex-start;
                margin-bottom: 10px;
                font-size: 0.9em;
            }

            .dates > label > select {
                width: 240px;
                height: 30px;
                color: white;
                background-color: var(--orangeBRGM);
                border-radius: 0;
            }


            .dates > label > select > option:hover {
                background-color: var(--grisBRGM);
            }
        }

        h4 {
            color: var(--orangeBRGM);
        }

        .bouton {
            border: 5px solid var(--orangeBRGM);
            width: 220px;
            background-color: var(--orangeBRGM);
            box-shadow: none;
            transition: box-shadow 0.3s ease;
            font-weight: bold;
            color: white;
            cursor: pointer;
            user-select: none;
        }

        .bouton:hover {
            box-shadow: inset 0 0 0 1px white;
        }

    }


}


/*
------------------------------------------------------------------------------------------------------------------------
--------------------------------------------- NOUVEAU BANDEAU DE PARAMETRES  -------------------------------------------
 */

#tooltip {
    background-color: var(--grisClair);
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.6em;
    pointer-events: none;
    z-index: 1000;
    position: absolute;
}

.bandeauGraphiques {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    align-content: center;
    width: 55px;
    height: 75vh;
    background-color: var(--grisBRGM);
    color: white;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 3;
    transition: all 0.5s ease;

    * {
        user-select: none;
    }

    .active {
        background-color: var(--orangeBRGM);
    }

    .extend {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            background-color: var(--orangeBRGM);
        }
    }

    img {
        width: 25px;
        height: 25px;
        padding: 5px;
    }

    .separatorGraphique {

        height: 1px;
        width: 45px;
        background-color: white;

        .text {
            display: none;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 0.5em;
        }

        span:not(.text):first-child {
            height: 1.5px;
            width: 45px;
            background-color: white;
        }
    }

    .first {
        margin-top: 50px !important;
    }

    .elementBandeau {

        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin: 2px;
        cursor: pointer;
        transition: all 0.5s ease;

        span {
            display: none;
            padding-left: 3px;
            font-size: 0.8em;
        }

        &:hover {
            background-color: var(--orangeBRGM);
        }
    }

    .disabled {
        cursor: default;
        opacity: 0.5;

        &:hover {
            background-color: var(--grisBRGM);
        }
    }

    /* les .disabled et .active à la fois */

    .disabled.active {
        &:hover {
            background-color: var(--orangeBRGM);
        }
    }

}


/*
------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------  BANDEAU DE PARAMETRES  ----------------------------------------------
 */

.annonce {
    display: none;
}


.settings {
    display: none;
}


/*
------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------  POPUP  --------------------------------------------------------
 */

.grandPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    background-color: var(--blancFonce);
    min-height: 60%;
    max-height: 95%;
    padding: 10px;
    color: black;
    text-align: center;
}

.rappel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 20px;
}

.bleu {
    background-color: var(--bleuBRGM);
}

.rose {
    background-color: var(--roseBRGM);
}

.vert {
    background-color: var(--vertBRGM);
}

.jaune {
    background-color: var(--jauneBRGM);
}

.bleuGris {
    background-color: var(--bleuGrisBRGM);
}

.grandPopup > .entete {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.grandPopup > .entete > .titreBarre {
    font-size: 2em;
    margin-bottom: 30px;
}

.grandPopup > .entete > img {
    filter: invert(1);
}

.grandPopup > .entete > img:hover {
    filter: none;
}

.grandPopup > span {
    color: var(--orangeBRGM);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.grandPopup > span > input {
    max-width: 150px;
    min-width: auto;
    color: transparent;
    margin-left: 20px;
}

.grandPopup > span > input::file-selector-button {
    border: 5px solid var(--orangeBRGM);
    background-color: var(--orangeBRGM);
    box-shadow: none;
    width: 100%;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    color: white;
    cursor: pointer;
    user-select: none;
    margin: 0;
}

.grandPopup > span > input::file-selector-button:hover {
    box-shadow: inset 0 0 0 1px white;
}

.grandPopup > .ongletsParam {
    width: 98%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

}

.grandPopup > .ongletsParam > .bouton {
    border: 5px solid transparent;
    box-shadow: 0 0 0 1px white;
    background-color: var(--grisBRGM);
    min-width: 150px;
    max-width: 200px;
    margin: auto;
    height: 20px;
    font-size: 0.8em;
    transition: box-shadow 0.3s ease;
    font-weight: normal;
    color: white;
    cursor: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    user-select: none;
}

.grandPopup > .ongletsParam > .bouton > img {
    width: 20px;
    height: 20px;
    padding-left: 15px;
}

.grandPopup > .ongletsParam > .bouton:not(.disabled):hover {
    box-shadow: 0 0 0 1px var(--orangeBRGM), inset 0 0 0 1px var(--orangeBRGM);
    cursor: pointer;
}

.grandPopup > .ongletsParam > .active {
    box-shadow: 0 0 0 1px var(--orangeBRGM);
    background-color: var(--orangeBRGM);
}

.grandPopup > .separator {
    width: 98%;
    display: none;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.popupExport > .separator {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    height: 250px;
}

.popupExport > .separator > .ligne {
    height: 100%;
    border: 1px solid black;
}

.popupExport > .separator > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 10px;
    width: 48%;
}

.grandPopup > .separator > .ongletParam {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 60%;
    min-height: 300px;
    max-height: 100%;
}

.grandPopup > .separator > .ongletParam > .boutonOrange {
    margin: auto;
}

.grandPopup > .separator > .illu {
    width: 40%;
    height: 100%;
    color: var(--orangeBRGM);
}

.grandPopup > .separator > .illu > img {
    width: 250px;
}

.grandPopup > .separator > .ongletParam > img {
    width: 200px;
}

.grandPopup > .separator > .ongletParam > h2 {
    color: var(--orangeBRGM);
}

.ongletParam > .alert, .message > .alert {
    position: initial;
    cursor: initial;
    max-width: none;
    width: 500px;
    font-weight: 350;
    transform: none;
    text-align: left;
}

.message > .alert {
    width: auto;
    max-width: none;
    min-width: 0;
    padding-right: 10px;
}

.message > .alert > span {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
}

.ongletParam > .alert > img, .message > .alert > img {
    padding-right: 10px;
}

.grandPopup > .separator > .ongletParam > table {
    text-align: center;
    color: white;
    border: 5px solid white;
    min-width: 300px;
    margin-top: 10px;
}

.ongletParam > table > tbody {
    border: 1px solid white;
}

.ongletParam > table > tbody > tr:nth-child(odd) {
    background-color: var(--grisClair);
    border: 1px solid white;
}

.ongletParam > table > tbody > tr:nth-child(even) {
    background-color: var(--orangeBRGM);
    border: 1px solid white;
}

.ongletParam > table > tbody > tr > td {
    padding: 5px;
}

.ongletParam > table > tbody > tr > td > select {
    width: 130px;
    height: 30px;
    color: black;
    background-color: white;
    border-radius: 0;
}

.ongletParam > table > tbody > tr > th {
    padding: 5px;
}

.ongletParam > table > thead > tr {
    background-color: var(--orangeBRGM);
    color: white;
    padding: 5px;
}

.range input {
    -webkit-appearance: none;
    width: 400px;
    height: 4px;
    border-radius: 5px;
    background-color: var(--orangeBRGM);
    outline: none;
}

.range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--rouilleBRGM);
    cursor: pointer;
}

.range span {
    position: absolute;
    margin-left: 14px;
    width: 50px;
    height: 30px;
    background-color: #222;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
}

.range span:before {
    content: '';
    position: absolute;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    border-bottom: 12px solid #222;
    left: -10px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

.boutonOrange {
    border: 5px solid var(--orangeBRGM);
    background-color: var(--orangeBRGM);
    box-shadow: none;
    width: 220px;
    margin-top: 20px;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    color: white;
    cursor: pointer;
    user-select: none;
}

.boutonOrange:hover {
    box-shadow: inset 0 0 0 1px white;
}

.selectOrange {
    color: white;
    background-color: var(--orangeBRGM);
    border: 5px solid var(--orangeBRGM);
    box-shadow: none;
    width: 250px;
    height: 30px;
    border-radius: 0;
    user-select: none;
}

.listeSelectsTraceurs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.listeSelectsTraceurs > span {
    height: 100px;
    border: 1px solid black;
    min-height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background-color: black;

}

.separateurSelect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

.separateurSelect > .selectOrange {
    width: 150px;
}

.grandPopup > .dl {
    margin: auto;
}

.popupExport > .separator > div > .separateur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.popupExport > .separator > div > .separateur > span {
    height: 100%;
    margin-left: 10px;
}

.popupExport > .separator > div > .separateur > span:not(:last-child) {
    border-right: 2px solid black;
    padding-right: 20px;
}


.popupExport > .separator > div > .separateur > span > input[type="datetime-local"] {
    color: white;
    background-color: var(--orangeBRGM);
    border: 5px solid var(--orangeBRGM);
    box-shadow: none;
    width: 250px;
    height: 30px;
    border-radius: 0;
}


.popupExport > .separator > div > .separateur > span > input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}


.checkBoxLampes {
    display: flex;
    flex-wrap: wrap;
}

.ongletParam > .checkBoxLampes > label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
    min-width: 100px;
    padding-right: 5px;
}

.ongletParam > .checkBoxLampes > label:not(:last-child) {
    border-right: 2px solid black;
}

.ongletParam > label > input[type="checkbox"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 15px;
}



.outilSuppressionCourbes {
    position: absolute;
    top: 10%;
    right: -350px;
    width: 350px;
    height: 450px;
    padding: 0;
    display: none;
    transition: all 0.5s ease;

    .pastille {
        position: absolute;
        width: 45px;
        height: 45px;
        background-color: var(--orangeBRGM);
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -45px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    .fermer {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        padding: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;

        &:hover {
            background-color: var(--orangeBRGM);
        }
    }

    .main {
        color: white;
        background-color: var(--grisBRGM);
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow-y: auto;

        h2 {
            margin: 0;
            font-size: 1.5em;
            color: var(--orangeBRGM);
        }

        .bouton {
            background-color: var(--orangeBRGM);
            border: 5px solid var(--orangeBRGM);
            width: 150px;
            margin-left: auto;
            margin-right: auto;
        }

        .listeCourbesSupprimer {
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: 100%;
            width: 100%;
        }
    }
}


.wrapSelectionDates {
    display: flex;
    gap: 15px;
    align-items: center;

    .bouton {
        margin: 0;
    }

    input[type="datetime-local"] {
        color: white;
        background-color: var(--orangeBRGM);
        border: 5px solid var(--orangeBRGM);
        box-shadow: none;
        width: 200px;
        height: 30px;
        border-radius: 0;
    }

    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        cursor: pointer;
    }
}





/*
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------  RESPONSIVE  ----------------------------------------------------
 */

@media (max-width: 1100px) {

    .graphiques {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start !important;
        align-items: center;
        align-content: center;
    }

    .graphique {
        margin-top: 30px;
        max-width: 90%;
    }

    .infos {
        margin: 0;
    }

    .settings {
        width: 95%;
        min-height: auto;
        /*max-height: 220px;*/
        padding-bottom: 20px;
    }

    .settings > .details {
        width: 98%;
        flex-direction: row;
        justify-content: space-between;
        max-height: 220px;
    }

    .settings > .details > .wrap {
        height: 100%;
        border-right: 2px solid white;
        margin-right: 20px;
        min-width: 100px;
        min-height: 230px;
        padding-right: 15px;
    }

    .settings > .details > .wrap > .dates > label {
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
    }

    .settings > .details > .wrap > .dates > label > select {
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .settings > .details > .wrap > div > input[type="file"] {
        color: transparent;
        width: 150px;
    }

    .settings > .details > .wrap > div > .bouton {
        min-width: auto;
        width: auto;
    }


    .settings > .details > .wrap > div > input::file-selector-button {
        width: 100%;
        max-width: 100%;
        margin: 0;
        flex-shrink: initial;
    }


}

@media (max-width: 790px), (max-height: 662px) {

    .graphique {
        display: none !important;
    }

    .bandeauGraphiques {
        display: none;
    }

    .infos {
        display: none;
    }

    .annonce {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 98%;
        padding: 15px;
        text-align: center;
    }

    .annonce > img {
        width: 300px;
    }

    .annonce > h2 {
        color: var(--orangeBRGM);
    }

}


